<app-navbar></app-navbar>

<div class="container">
  <div class="title-section">
    <button
    class=" btn hidden select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
    type="button"
    routerLink="/eval">
    <span>évaluation</span>
  </button>    <div class="title-line"></div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let carte of cartes" (click)="onCriteriaSelect(carte.id)">
      <div class="card-content">
        <h5 class="card-title text-2xl font-bold text-gray-900 mb-4">{{ carte.nom }}</h5>
      </div>
    </div>
  </div>
</div>
